@import "variables";
@import "mixins";

.dashboard {
    &-header {

    }

    &-new {
        background: #eee;
        padding: 20px 20px;
    }

    &-table {
        max-width: 1000px;
        margin: 0 auto;
    }

    &-create {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 150px;
        height: 150px;
        background: #fff;
        font-size: 18px;
        color: #000;
        text-decoration: none;
        border-radius: 4px;

        &:hover {
            color: green;
            border: 1px solid green;
        }
    }

    &-list_header {
        display: flex;
        justify-content: space-between;
        padding: 20px 15px;
    }

    &-list {
        @include clear-list;
    }

    &-record {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px 15px;
        

        &:hover {
           border-radius: 25px;
           background: #e6f4ea;
        }

        a {
            color: #000;
            text-decoration: none;
            cursor: pointer;
            
            &:hover {
                text-decoration: underline;
            }
        }
    }
}