@import "variables";
@import "mixins";

.excel-table {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    overflow-x: scroll;
    .row {
        display: flex;
        min-height: $row-height;
    }
    .row-info {
        position: relative;
        min-width: $info-cell-width;
        line-height: $row-height;
        text-align: center;
        border-right: 1px solid $border-color;
        border-bottom: 1px solid $border-color;
        background: #f8f9fa;
    }
    .row-data {
        display: flex;
    }
    .column {
        position: relative;
        text-align: center;
        padding: 0 10px;
        line-height: $row-height;
        width: $cell-width;
        min-width: 40px;
        background: #f8f9fa;
        border-right: 1px solid $border-color;
        border-bottom: 1px solid $border-color;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        user-select: none;
    }
    .cell {
        padding: 0 10px;
        line-height: $row-height;
        width: $cell-width;
        min-width: 40px;
        border-right: 1px solid #e2e3e3;
        border-bottom: 1px solid #e2e3e3;
        color: #111;
        white-space: nowrap;
        outline: none;

        &.selected {
            border: 2px solid $blue;
        }
    }

    .col-resize, .row-resize {
        position: absolute;
        bottom: 0;
        right: 0;
        background: $blue;
        opacity: 0;
        z-index: 1000;
        &:hover {
            opacity: 1 !important; 
        }
    }
    .col-resize {
        top: 0;
        width: 4px;

        &:hover {
           cursor: col-resize; 
        }
    }

    .row-resize {
        left: 0;
        height: 4px;

        &:hover {
            cursor: row-resize; 
         }
    }
    
}